<h1>
  Admin Layout
  <nav>
    <a routerLink="users">Admin User Page</a>
    &nbsp;
    <a routerLink="roles">Admin Roles Page</a>
    &nbsp;
    <a [routerLink]="['user-detail',2]">2 nolu User</a>
    &nbsp;
    <a [routerLink]="['user-detail']" [queryParams]="{name:'ali',email:'test'}">User Detail Query String </a>
    &nbsp;
    <a [routerLink]="['todos']"> Todo View </a>
<!-- /admin/user-detail?name=ali&email=test -->
  </nav>
  <!-- admin sayfaları arasındaki geçişi ise admin layout sağlar bundan dolayı router outlet yazıldı -->
  <router-outlet></router-outlet>
</h1>
